{% load static %}
<!-- Footer -->
<div class="flex-footer">
    <div class="follow-me">
        <h4 id="contact-flex">Follow Me on Social Media:</h4>
        <a href="https://twitter.com/grteln"><img class="socmed" src="{% static 'twitter.jpg' %}" alt="twitter"></a>
        <a href="https://instagram.com/grteln"><img class="socmed" src="{% static 'ig.jpg' %}" alt="instagram"></a>
        <a href="https://www.linkedin.com/in/anastasia-greta-051ab9159/"><img class="socmed" src="{% static 'in.jpg' %}" alt="linkedin"></a>
    </div>
</div>