<!--Navigation-->
<nav class="sticky-top navbar navbar-expand-sm bg-light navbar-light topnav"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index1">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skill">Skill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#edu">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#exp">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index2">Interest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index3">Guest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="forms">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="table">Table</a>
            </li>
        </ul>
    </div>
</nav>