{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}My Schedule{% endblock %}
{% block content %}

<!--Header-->
<div class="container-fluid header5">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h1 class="text mb-0">My Schedule</h1></div>
    </div>
</div>

<section>
    <div class="sched_form">
        <h2>Insert Schedule</h2>
        <br><br>
        <form id="form", method="POST", action="{% url 'fill_form' %}">
            {% csrf_token %}
            {{ fill_form }}
            <br><br>
            <button type="submit", class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

{% endblock %}