{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}My Profile{% endblock %}
{% block content %}

    <!--Header-->
    <div class="container-fluid header1">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight"><h1 class="text mb-0">Hi There! I'm <strong>Greta</strong></h1></div>
            <div class="p-2 bd-highlight"><h2 class="font-weight-light mb-0">Student of Computer Science</h2></div>
        </div>
    </div>

    <!-- Personal Info -->
    <div class="flex-profile" id="profile">
        <div class="personal-information">
            <h3>MY PERSONAL INFORMATION</h3>
            <p>
                Anastasia Greta Elena
                <br>October 8th 1999
                <br>Kalisari, East Jakarta
                <br>+62 811 8308 240
                <br>agretaelena@gmail.com
                 
                <br><br><i>"Live life the fullest, and focus on the positive"</i>
                <br>-Matt Cameron
                <br><br>
            </p>
        </div>
        <div class="img">
            <img src="{% static 'greta.jpg' %}" alt="fotoku" class="image">
        </div>
    </div>

    <!-- Skill -->
    <div class="text-skill" id="skill">
        <h3>SKILL</h3>
    </div>
    <div class="flex-skill">
        <div class="circle">
            <span class="dot">
                <img class="icons" src="{% static 'swim.png' %}" alt="swimming">
            </span>
        </div>
        <div class="circle">  
            <span class="dot">
                <img class="icons" src="{% static 'drive.png' %}" alt="driving">
            </span>
        </div>
        <div class="circle">
            <span class="dot">
                <img class="icons" src="{% static 'sing.png' %}" alt="singing">
            </span>
        </div>
        <div class="circle">
            <span class="dot">
                <img class="icons" src="{% static 'photograph.png' %}" alt="photograph">
            </span>
        </div>
        <div class="circle">
            <span class="dot">
                <img class="icons" src="{% static 'html.jpg' %}" alt="html">
            </span>
        </div>
        <div class="circle">
            <span class="dot">
                <img class="icons" src="{% static 'java.png' %}" alt="java">
            </span>
        </div>
    </div>

    <!-- Education -->
    <div class="text-edu" id="edu">
        <h3>EDUCATION</h3>
    </div>
    <div class="flex-edu">
        <div class="rectangle">
            <p>SDK Ignatius Slamet Riyadi II</p>
        </div>
        <div class="rectangle">
            <p>SMPN 179 Jakarta</p>
        </div>
        <div class="rectangle">
            <p>SMAN 39 Jakarta</p>
        </div>
        <div class="rectangle">
            <p>University of Indonesia</p>
        </div>
    </div>

    <!-- Experience -->
    <div class="text-exp" id="exp">
        <h3>EXPERIENCES</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">February 2018</span>
                        <div class="timeline-content">
                            <h3 class="title">BETIS 2018</h3>
                            <span class="post">Staff of Event</span>
                            <p class="description">
                            </p>
                        </div>
                    </div>
        
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">January 2018</span>
                        <div class="timeline-content">
                            <h3 class="title">The 25th CGT</h3>
                            <span class="post">Staff of Bazaar and Consumption</span>
                            <p class="description"> 
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">February 2018</span>
                        <div class="timeline-content">
                            <h3 class="title">COMPFEST X</h3>
                            <span class="post">Staff of Media Partner</span>
                            <p class="description">
                            </p>
                        </div>
                    </div>
        
                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">August 2018</span>
                        <div class="timeline-content">
                            <h3 class="title">PMB 2018</h3>
                            <span class="post">Staff of Event</span>
                            <p class="description"> 
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <span class="timeline-icon"></span>
                        <span class="year">February 2018</span>
                        <div class="timeline-content">
                            <h3 class="title">DPM Fasilkom UI 2018</h3>
                            <span class="post">Staff of Komisi Pengawasan 1</span>
                            <p class="description">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    