{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}My Interest{% endblock %}
{% block content %}

    <!--Header-->
    <div class="container-fluid header2">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight"><h1 class="text mb-0">Most Favourite Places</h1></div>
        </div>
    </div>

    <!-- Favourite Places -->
    <div class="flex-int">
        <div class="fav-place">
            <h3>MUSIC STORE</h3>
            <p>
                One of my hobby is listening to music.
                <br>I can listen to many songs when I step
                <br>inside this store. That's why I love
                <br>to go to The Music Store.
                <br><br><br>
            </p>
        </div>
        <div class="img">
            <img src="{% static 'music_store.jpg' %}" alt="music-store" class="photos">
        </div>
    </div>
    <div class="flex-int">
        <div class="img">
            <img src="{% static 'book_store.jpg' %}" alt="book-store" class="photos">
        </div>
        <div class="fav-place">
            <h3>BOOK STORE</h3>
            <p>
                My other hobby is reading books.
                <br>I really like to read novels, magazines,
                <br>biography books, comics, and many more.
                <br>I don't have to buy all the books that
                <br>I want to read, I just have to stay all 
                <br>day at the book store to finish my reading instead.
                <br><br>
            </p>
        </div>
    </div>
    <div class="flex-int">
        <div class="fav-place">
            <h3>CAFE</h3>
            <p>
                Cafe is the best place to relieve stress for
                <br>me. My recent Favourite cafe to go to is
                <br>Koi Cafe, which is located in some mall in
                <br>Jakarta. I like to order many kinds of
                <br>Matcha beverages whenever I go to cafes.
                <br><br><br>
            </p>
        </div>
        <div class="img">
            <img src="{% static 'cafe.jpg' %}" alt="cafe" class="photos">
        </div>
    </div>

{% endblock %}