{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Guest Book{% endblock %}
{% block content %}

    <!--Header-->
    <div class="container-fluid header3">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight"><h1 class="text mb-0">Guest Book</h1></div>
        </div>
    </div>
    
    <!--Guests' information-->
    <section class="content-section text-white" id="about">
        <div id="text-fill">
            <h2>Please Fill the Form Below</h2>
        </div>
        <div class="container header4">
            <div class="text-header2">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Date</label>
                        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Today's date">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Subject</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Message</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your Message">
                    </div>
                    <div class='padding_btn'>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}