{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Table{% endblock %}
{% block content %}

<!--Header-->
<div class="container-fluid header6">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight"><h1 class="text mb-0">Table of Activity</h1></div>
    </div>
</div>

<div class="sched_form">
    <table class="table">
        <thead>
            <th>Activity</th>
            <th>Place</th>
            <th>Category</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for i in jadwal %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{i.nama_kegiatan}} </td>
                <td> {{i.tempat}} </td>
                <td> {{i.kategori}} </td>
                <td> {{i.tanggal}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <p>Click the button below to delete all the schedule above</p>
    <form class="delete", action="/table", method="POST">
        {% csrf_token %}
        <input type="submit", class="btn btn-primary", value="Delete All", method="">
    </form>
</div>

{% endblock %}
    