html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 10;
    top: 0;
}

.navbar-brand, .nav-item {
    float: right;
    display: block;
    color: #00A6FF;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .header1 {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #343F4B;
    height: 578px;
    text-align: left;
    /* padding: 200px; */
    width: 100%;
    margin-bottom: 100px;
}

.header1 h1 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 300;
    line-height: 91px;
    margin-left: 70px;
}

.header1 h2 {
    color: #00A6FF;
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    margin-left: 70px;
}

.flex-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap; 
}

.personal-information {
    width: 700px;
    height: auto;
    background-color: rgba(0, 166, 255, 0.3);
    margin-bottom: 45px;
}

.personal-information h3 {
    color: #00A6FF;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 40px;
    margin-left: 70px;
}

.personal-information p {
    color: #47525E;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 70px;
}

.img {
    margin-bottom: 45px; 
    height: 100%;
}

.image {
    width: 42vmax;  
    height: 100%;
}

.flex-skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
}

.text-skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.text-skill h3 {
    color: #415F81;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 60px;
}

.circle {
    background-color: #7CABE3;
    border-radius: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
}

.icons {
    opacity: 1;
    height: 80px;
    margin: 40px;
}

.flex-edu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
}

.text-edu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
}

.text-edu h3 {
    color: #415F81;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 70px;
}

.rectangle p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 39px;
    padding-left: 12px;
    padding-top: 0px;
}

.rectangle { 
    width: 250px; 
    height: 80px; 
    background: #415F81; 
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
} 

.text-exp h3 {
    color: #415F81;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 70px;
}

.text-exp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main-timeline{
    overflow: hidden;
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #999;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    padding-right: 30px;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before{
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #00A6FF;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: -3px;
}
.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: 0;
}
.main-timeline .timeline-icon{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #999;
    box-sizing: content-box;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -4px;
}
.main-timeline .timeline-icon:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #7CABE3;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.main-timeline .year{
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    background: #00A6FF;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
}
.main-timeline .year:before{
    content: "";
    border-right: 18px solid #00A6FF;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -18px;
}
.main-timeline .timeline-content{
    width: 46.5%;
    padding: 43px 50px;
    margin: 0 20px 0 0;
    background: #e0ffff;
    position: relative;
}
.main-timeline .timeline-content:after{
    content: "";
    border-left: 20px solid #f2f2f2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}
.main-timeline .title{
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: #504f54;
    margin: 0 20px 20px 0;
}
.main-timeline .post{
    display: inline-block;
    font-size: 20px;
    color: #999;
    margin-top: 6px;
}
.main-timeline .description{
    font-size: 14px;
    color: #7d7b7b;
    line-height: 24px;
    margin: 0;
    clear: both;
}
.main-timeline .timeline:nth-child(2n){ padding: 0 0 0 30px; }
.main-timeline .timeline:nth-child(2n) .year{
    right: auto;
    left: 35%;
}
.main-timeline .timeline:nth-child(2n) .year:before{
    border: 18px solid transparent;
    border-right: none;
    border-left: 18px solid #00A6FF;
    left: auto;
    right: -18px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float: right;
    margin: 0 0 0 20px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:after{
    border-left: none;
    border-right: 20px solid #f2f2f2;
    right: auto;
    left: -20px;
}
@media only screen and (max-width: 1200px){
    .main-timeline .year{ right: 30%; }
    .main-timeline .timeline:nth-child(2n) .year{ left: 30%; }
}
@media only screen and (max-width: 990px){
    .main-timeline .year{ right: 25%; }
    .main-timeline .timeline:nth-child(2n) .year{ left: 25%; }
}
@media only screen and (max-width: 767px){
    .main-timeline:before{ left: 10px; }
    .main-timeline .timeline{
        padding: 0 0 0 30px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:last-child{ margin-bottom: 0; }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before{ display: none; }
    .main-timeline .timeline-icon{
        margin: 0;
        position: absolute;
        top: 7px;
        left: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{
        display: block;
        font-weight: bold;
        margin: 0 0 32px 30px;
        z-index: 1;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
    }
    .main-timeline .timeline:nth-child(2n) .year:before{
        border-left: none;
        border-right: 18px solid #737ab4;
        right: auto;
        left: -18px;
    }
    .main-timeline .timeline-content{ padding: 20px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: auto;
        float: none;
        margin: 0 0 0 30px;
    }
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after{
        border: none;
        border-bottom: 20px solid #f2f2f2;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        top: -20px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}
@media only screen and (max-width: 480px){
    .main-timeline .title{
        float: none;
        margin: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{ margin-left: 20px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{ margin-left: 10px; }
    .main-timeline .post{ margin: 5px 0; }
}

.flex-footer {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #343F4B;
    margin-top: 90px;
}

.socmed {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#contact-flex {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .header2 {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header2 {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    background-color: #343F4B;
    height: 178px;
    text-align: left;
    /* padding: 200px; */
    width: 100%;
    margin-bottom: 120px;
}

.header2 h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 70px;
}

.flex-int {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.fav-place {
    width: 700px;
    height: auto;
    background-color: rgba(0, 166, 255, 0.3);
    margin-bottom: 45px;
}

.fav-place h3 {
    color: #00A6FF;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 90px;
    margin-left: 70px;
}

.fav-place p {
    color: #47525E;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 70px;
}

.foto {
    margin-bottom: 45px;
    height: 100%;
}

.photos {
    width: 40vmax;  
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header3 {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header3 {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    background-color: #343F4B;
    height: 178px;
    text-align: left;
    /* padding: 200px; */
    width: 100%;
    margin-bottom: 65px;
}

.header3 h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 70px;
}

.header4 {
    background-color: rgba(0, 166, 255, 0.3);
    height: 585px;
    margin-top: 50px;
}

#text-fill {
    color: #00A6FF;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 70px;
    margin-left: 100px;
}

.form-group {
    color: #47525E;
    font-size: 20px;
    font-weight: 350;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

/* .btn {
    margin-left: 10px;
    margin-top: 20px;
} */

@media screen and (max-width: 768px) {
    .header5 {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header5 {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    background-color: #343F4B;
    height: 178px;
    text-align: left;
    /* padding: 200px; */
    width: 100%;
    margin-bottom: 80px;
}

.header5 h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 70px;
}

.sched_form {
    padding-left: 15%;
    padding-right: 15%;
}

.padding_btn {
    padding-left: 10px;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .header6 {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header6 {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    background-color: #343F4B;
    height: 178px;
    text-align: left;
    /* padding: 200px; */
    width: 100%;
    margin-bottom: 90px;
}

.header6 h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 70px;
}